.photo_content {
  display: none;
  position: fixed;
  right: 0;
  left: 0;
  bottom: 0;
  top: 0;
  margin-bottom: auto;
  margin-top: auto;
  margin-right: auto;
  margin-left: auto;
  z-index: 30;
}

.photo_content.active {
  display: flex;
  justify-content: center;
  align-items: center;
}

.photo_indicator {
  width: var(--indicator-size-medium);
  height: var(--indicator-size-medium);
  position: fixed;
  bottom: -170px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  transition: all 300ms ease-in-out;
  z-index: 20;
}

.photo_indicator_cta {
  padding: 0.1rem 0.3rem;
  width: fit-content;
  background-color: var(--white);
  color: var(--red);
  text-align: center;
  display: none;
  font-size: 0.7rem;
  position: fixed;
  bottom: 110px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  transition: all 300ms ease-in-out;
}

.photo_indicator:hover {
  bottom: -155px;
}

.photo_indicator:hover .photo_indicator_cta {
  display: flex;
}

@media screen and (min-width: 768px) {
  .photo_indicator {
    width: var(--indicator-size-large);
    height: 300px;
    bottom: -190px;
  }

  .photo_indicator:hover {
    bottom: -170px;
  }

  .photo_indicator_cta {
    padding: 0.1rem 0.3rem;
    width: fit-content;
    background-color: var(--white);
    color: var(--red);
    text-align: center;
    display: none;
    font-size: 0.8rem;
    position: fixed;
    bottom: 135px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    transition: all 300ms ease-in-out;
  }
}

@media screen and (min-width: 1024px) {

}