.header {
  background: rgba(1, 1, 1, 0.2);
}

.header_content_left, .header_content_right {
  position: fixed;
  top: var(--spacing-large);
  z-index: 10;
  user-select: none;
  text-transform: uppercase;
}

.header_content_left {
  left: var(--spacing-large);
}

.header_content_right {
  right: var(--spacing-large);
}

.logo_container {
  text-align: center;
  position: fixed;
  top: var(--spacing-large);
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.logo { 
  width: 120px;
  height: auto;
}

.logo_title {
  font-size: 0.8rem;
  font-weight: 500;
  text-transform: uppercase;
  user-select: none;
}