.header {
  background: var(--red);
  background: rgba(255, 0, 43, 0.8);
  backdrop-filter: blur(12.5px);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: var(--headerbar-height);
  display: flex;
  justify-content: center;
  flex-direction: column;
  transition: all 400ms ease-in-out;
}

.header.open {
  height: 270px;
}

.icons_container {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  mix-blend-mode: difference;
}

.header_icon {
  color: var(--red);
  cursor: pointer;
}

.header_icon.open {
  margin-bottom: 0.5rem;
}

.photos_container {
  flex: 1;
  display: flex;
  align-items: flex-end;
  gap: 1rem;
  overflow-x: scroll;
}

.photo_container {
  margin-bottom: 0.5rem;
}

.photo {
  width: 200px;
  width: 150px;
  height: auto;
}

.header_content_left, .header_content_right {
  display: none;
  user-select: none;
  text-transform: uppercase;
  mix-blend-mode: difference;
  font-size: 0.5rem;
  color: var(--red);
}

.header_content_left.open, .header_content_right.open {
  display: block;
  position: fixed;
  bottom: 0.5rem;
}

.header_content_left.open {
  left: var(--spacing-medium);
}

.header_content_right.open {
  right: var(--spacing-medium);
}

.logo_container {
  text-align: center;
  position: fixed;
  top: calc(var(--headerbar-height) + 20px);
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  z-index: 10;
  mix-blend-mode: difference;
}

.logo { 
  width: 100px;
  height: auto;
}

.logo_title {
  font-size: 0.7rem;
  font-weight: 500;
  text-transform: uppercase;
  user-select: none;
  color: var(--red);
}


@media screen and (min-width: 768px) {

  .header.open {
    height: 300px;
  }

  .header_content_left, .header_content_right {
    display: block;
    position: fixed;
    top: calc(var(--headerbar-height) + 20px);
    z-index: 10;
    font-size: 0.8rem;
  }

  .header_content_left {
    left: var(--spacing-large);
  }
  
  .header_content_right {
    right: var(--spacing-large);
  }

  .photo {
    width: 200px;
  }

  .logo { 
    width: 120px;
  }

  .logo_title {
    font-size: 0.8rem;
  }
}

@media screen and (min-width: 1024px) {

}