.container {
  padding: 0.7rem 0.5rem;
  transition: all 500ms ease-in-out;

  display: none;
  position: fixed;
  right: 0;
  left: 0;
  bottom: 0;
  top: 0;
  margin-bottom: auto;
  margin-top: auto;
  margin-right: auto;
  margin-left: auto;
  z-index: 30;
  width: fit-content;
  height: fit-content;
}

.container.active {
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  height: 60vh;
  max-height: 60vh;
  width: 80vw;
  max-width: 80vw;
  background: rgba(250, 250, 250, 0.05);
  backdrop-filter: blur(15.5px);
  overflow-y: scroll;
  border: 1px solid var(--grey);
  padding: 2rem 1rem;
}

.content_main {
  margin-bottom: 2rem;
}

.id {
  font-size: 1rem;
}

.location {
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: uppercase;
}

.date {
  font-size: 1rem;
  text-decoration: underline;
}

.content_description p {
  font-size: 1rem;
}

@media screen and (min-width: 768px) {
  .content {
    height: 70vh;
    max-height: 70vh;
    width: 70vw;
    max-width: 70vw;
    padding: 2rem;
  }

  .content_main {
    margin-bottom: 4rem;
  }
  
  .id {
    font-size: 1.5rem;
  }

  .location {
    font-size: 2rem;
  }

  .date {
    font-size: 1.5rem;
  }

  .content_description p {
    font-size: 1.1rem;
  }
}

@media screen and (min-width: 1024px) {

}