.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--indicator-size-medium);
  height: var(--indicator-size-medium);
  border-radius: 50%;
  margin: auto;
  transition: all 200ms ease-in-out;
  cursor: pointer;
}

.indicator {
  position: absolute;
  opacity: 0.3;
  height: var(--indicator-size-medium);
}

.id {
  font-size: 1.5rem;
  font-weight: 600;
  border-radius: 50%;
  padding: 0.7rem;
  cursor: default;
  color: var(--red);
}

.indicator.active {
  opacity: 1;
}



@media screen and (min-width: 768px) {
  .container {
    width: var(--indicator-size-large);
    height: var(--indicator-size-large);
  }

  .indicator {
    height: var(--indicator-size-large);
  }

  .id {
    font-size: 1.8rem;
  }
}

@media screen and (min-width: 1024px) {

}