.container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  margin: auto;
}

.indicator {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform-origin: 13px 130px;
  cursor: pointer;
}

.id {
  font-size: 1.5rem;
  font-weight: 600;
  border-radius: 50%;
}

.indicator:hover .id {
  font-weight: 900;
  
}

.id_line {
  width: 0.1rem;
  height: 5rem;
  background: var(--red);
}
